.box {
    background-color: rgb(50, 189, 15);
    border: black, 5px;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.row {
    width: 100%;
    display: flex;
}