.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

#boxParent{
    width: 960px;
    height: 960px;
}
